<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>ApplmanService</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	<login-config>
		<auth-method>FORM</auth-method>
	</login-config>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Protected Area</web-resource-name>
			<url-pattern>/index.html/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>Everyone</role-name>
		</auth-constraint>
	</security-constraint>
	<security-role>
		<description>All SAP HANA Cloud Platform users</description>
		<role-name>Everyone</role-name>
	</security-role>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>OData Service</web-resource-name>
			<url-pattern>/odata.srv/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>Manager</role-name>
		</auth-constraint>
	</security-constraint>
	<security-role>
		<description>Manager</description>
		<role-name>Manager</role-name>
	</security-role>
	<servlet>
		<servlet-name>JPARefScenarioServlet</servlet-name>
		<servlet-class>org.apache.cxf.jaxrs.servlet.CXFNonSpringJaxrsServlet</servlet-class>
		<init-param>
			<param-name>javax.ws.rs.Application</param-name>
			<param-value>org.apache.olingo.odata2.core.rest.app.ODataApplication</param-value>
		</init-param>
		<init-param>
			<param-name>org.apache.olingo.odata2.service.factory</param-name>
			<param-value>de.fisgmbh.tgh.applman.odata.ApplicationODataJPAServiceFactory</param-value>
		</init-param>
		<init-param>
			<param-name>jersey.config.server.tracing.type</param-name>
			<param-value>ALL</param-value>
		</init-param>
		<init-param>
			<param-name>jersey.config.server.tracing.threshold</param-name>
			<param-value>SUMMARY</param-value>
		</init-param>
		<init-param>
			<param-name>jersey.config.server.provider.classnames</param-name>
			<param-value>org.glassfish.jersey.filter.LoggingFilter</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>JPARefScenarioServlet</servlet-name>
		<url-pattern>/odata.srv/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>FileUploadServlet</servlet-name>
		<servlet-class>de.fisgmbh.tgh.applman.documentservice.FileUploadServlet</servlet-class>
		<multipart-config>
			<location>/tmp</location>
			<max-file-size>5242880</max-file-size><!--5MB -->
			<max-request-size>20971520</max-request-size><!--20MB -->
			<file-size-threshold>0</file-size-threshold>
		</multipart-config>
	</servlet>

	<servlet-mapping>
		<servlet-name>FileUploadServlet</servlet-name>
		<url-pattern>/fileupload</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>FileDownloadServlet</servlet-name>
		<servlet-class>de.fisgmbh.tgh.applman.documentservice.FileDownloadServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>FileDownloadServlet</servlet-name>
		<url-pattern>/filedownload/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>FileBrowserServlet</servlet-name>
		<servlet-class>de.fisgmbh.tgh.applman.documentservice.FileBrowserServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>FileBrowserServlet</servlet-name>
		<url-pattern>/browse/*</url-pattern>
	</servlet-mapping>

	<resource-ref>
		<res-ref-name>jdbc/DefaultDB</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
	</resource-ref>
	<resource-ref>
		<res-ref-name>EcmService</res-ref-name>
		<res-type>com.sap.ecm.api.EcmService</res-type>
	</resource-ref>
	<resource-ref>
		<res-ref-name>connectivity/DestinationFactory</res-ref-name>
		<res-type>com.sap.core.connectivity.api.DestinationFactory</res-type>
	</resource-ref>
	<resource-ref>
		<res-ref-name>connectivityConfiguration</res-ref-name>
		<res-type>com.sap.core.connectivity.api.configuration.ConnectivityConfiguration</res-type>
	</resource-ref>
	<resource-ref>
		<res-ref-name>TenantContext</res-ref-name>
		<res-type>com.sap.cloud.account.TenantContext</res-type>
	</resource-ref>
</web-app>